@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.sliderleft {
  @extend .slider;
  transition: left 0.5s ease, background 0.5s ease, border 0.5s ease;
  border-right: 1px solid $main-border-color;
}

.side {
  display: flex;
  flex-direction: column;
}

.menu {
  min-width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-right: 1px solid $main-border-color;
}

.actions {
  display: flex;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.9em;
  justify-content: flex-end;
  gap: 0.5em;
}

//
//.expandleft {
//  @extend .sliderleft;
//  left: 0;
//  background-color: rgba(255, 255, 255, 1);
//
//  > nav {
//    color: $main-color;
//    right: 0;
//    transition: right 0.5s ease;
//    z-index: 90;
//  }
//}
//
//.retractleft {
//  @extend .sliderleft;
//  left: -400px;
//  background-color: rgba(255, 255, 255, 0);
//  border-right: 0px solid $main-border-color;
//  > nav {
//    right: -80px;
//    transition: left 0.5s ease;
//  }
//  .open {
//    color: grey;
//    background-color: rgba(0, 0, 0, 0);
//  }
//}
